<div class="messenger">
    <aside class="sidebar">
        <div class="header">
            {{{ profileLinkButton }}}
        </div>
        <div>
            {{{ searchInput }}}
        </div>

        <ul class="chat-list">
            {{#each chats}}
                <li class="chat-item {{#if selected}}selected{{/if}}">
                    <div class="avatar"><img src="{{avatar}}" alt=""></div>
                    <div class="chat-info">
                        <div class="chat-title">{{title}}</div>
                        <div class="chat-preview">{{last_message.content}}</div>
                    </div>
                    {{#if unread}}
                        <div class="unread-count">{{unread_count}}</div>
                    {{/if}}
                    <div class="chat-time">{{last_message.time}}</div>
                </li>
            {{/each}}
        </ul>
    </aside>

    <main class="chat-window">
        <div class="chat-header">
            <div class="chat-user">
                <div class="avatar small"></div>
                <div class="username">{{selectedChat.name}}</div>
            </div>
            <div class="chat-menu">⋮</div>
        </div>

        <div class="chat-body">
            <div class="chat-date">19 июня</div>

            <div class="message incoming">
                <div class="bubble">
                    Привет! Смотри, тут всплыл интересный кусок лунной космической истории...
                </div>
                <div class="meta">11:56</div>
            </div>

            <div class="message outgoing">
                <div class="bubble">Круто!</div>
                <div class="meta">✔✔ 12:00</div>
            </div>
        </div>

        <form id="message-form" class="chat-input">
            {{{ fileButton }}}
            {{{ messageInput }}}
            {{{ sendButton }}}
        </form>
    </main>
</div>
