<div class="messenger">
    <aside class="sidebar">
        <div class="header">
            {{{ profileLinkButton }}}
        </div>
        <div>
            {{{ searchInput }}}
            {{{ addChatButton }}}
        </div>

        <ul class="chat-list">
            {{#each chats}}
                <li class="chat-item {{#if selected}}selected{{/if}}" data-chat-id="{{id}}">
                    <div class="avatar"><img src="{{avatar}}" alt=""></div>
                    <div class="chat-info">
                        <div class="chat-title">{{title}}</div>
                        <div class="chat-preview">{{last_message.content}}</div>
                    </div>
                    {{#if unread_count}}
                        <div class="unread-count">{{unread_count}}</div>
                    {{/if}}
                    <div class="chat-time">{{last_message.time}}</div>
                </li>
            {{/each}}
        </ul>
    </aside>

  <main class="chat-window">

  {{{ chatWindow }}}

    <form id="message-form" class="chat-input">
        {{{ fileButton }}}
        {{{ messageInput }}}
        {{{ sendButton }}}
    </form>
  </main>
</div>
