<div class="modal-overlay {{#if isOpen}}modal-overlay__open{{/if}}">
    <div class="modal-content">
        <h2>Добавить/Удалить пользователя</h2>
        <div class="modal-body">
            <div class="current-users">
                <h4>Пользователи в чате:</h4>
                {{#if currentChatUsers}}
                    {{#each currentChatUsers}}
                        <div class="user-item">
                            <span>{{this.login}}</span>
                            <button data-user-id="{{this.id}}" class="remove-user-from-chat-button">Удалить</button>
                        </div>
                    {{/each}}
                {{else}}
                    <p>В чате пока нет других пользователей.</p>
                {{/if}}
            </div>
            <hr/>
            <h4>Поиск нового пользователя:</h4>
            <form id="search-form" class="search-form">
                {{{ searchInput }}}
                {{{ searchButton }}}
            </form>
            <div class="search-results">
                {{#each searchResults}}
                    <div class="user-item">
                        <span>{{this.login}}</span>
                        <button data-user-id="{{this.id}}" class="add-user-to-chat-button">Добавить</button>
                    </div>
                {{/each}}
            </div>
        </div>
        <div class="modal-footer">
            {{{ closeButton }}}
        </div>
    </div>
</div>
