<div class="profile-page">
    <div class="sidebar">
        <button id="back-button" class="back-button">&#8592;</button>
    </div>

    <form id="profile-form" class="profile-container">
        <div class="profile-avatar">
            <div class="avatar large"></div>
        </div>
        <div class="profile-name">{{firstName}}</div>

        <div class="profile-info">
            <div class="row">
                <div class="label">Почта</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ emailInput }}}
                    {{else}}
                        {{email}}
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="label">Логин</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ loginInput }}}
                    {{else}}
                        {{login}}
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="label">Имя</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ firstNameInput }}}
                    {{else}}
                        {{firstName}}
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="label">Фамилия</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ secondNameInput }}}
                    {{else}}
                        {{secondName}}
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="label">Имя в чате</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ displayNameInput }}}
                    {{else}}
                        {{displayName}}
                    {{/if}}
                </div>
            </div>

            <div class="row">
                <div class="label">Телефон</div>
                <div class="value">
                    {{#if isEdit}}
                        {{{ phoneInput }}}
                    {{else}}
                        {{phone}}
                    {{/if}}
                </div>
            </div>
        </div>

        <div class="profile-actions">
            {{#if isEdit}}
                {{{ saveButton }}}
            {{else}}
                {{{ editDataButton }}}
            {{/if}}

            {{{ changePasswordButton }}}
            {{{ logoutButton }}}
        </div>
    </form>
</div>
