<div class="login-page">
    <h1 class="login-page-title">Зарегистрироваться</h1>
    <form id="registration-form">
        {{{ emailInput }}}
        {{{ loginInput }}}
        {{{ firstNameInput }}}
        {{{ secondNameInput }}}
        {{{ phoneInput }}}
        {{{ passwordInput }}}
        {{{ password2Input }}}
        {{{ registrationButton }}}
        {{{ signinButton }}}
    </form>
</div>
